<!DOCTYPE html>
<html lang="en">
<head>

    <title>{{ story }}</title>

    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/css/rpg.css" media="screen, projection" rel="stylesheet">
    <link rel="stylesheet" href="http://i.icomoon.io/public/temp/07a63bc633/Texty/style.css">
    <!-- <script data-main="static/js/main" src="http://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.11/require.min.js"></script> -->

    <script data-main="static/js/main" src="static/js/lib/require.min.js"></script>


    {% include "_client-templates.html" %}

</head>
<body>

<div class="container">
<div class="row">

    <div class="col-md-8">

        <div class="command-input">
            <i class="icon icon-arrow-right2 fa-2x"></i><input type="text" maxlength="100">
        </div>

        <div class="left-column">
            <!-- content goes here -->
        </div>

    </div>

    <div class="col-md-4">
        <div class="right-column">
            <!-- sidebar goes here -->
        </div>
    </div>


</div>
</div>

</body>
</html>
